In [1]:
import pandas as pd
import sklearn
from ucimlrepo import fetch_ucirepo
import numpy

# fetch dataset
online_retail = fetch_ucirepo(id=352)

# data (as pandas dataframes)
X = online_retail.data.features
y = online_retail.data.targets

## PARTE 1
## _**Inspeccionen los datos. ¿Cuántos ejemplos tienen? ¿Cómo tratarán las características discretas (si las hay)? ¿Hay ejemplos con características sin anotaciones? ¿Cómo tratarían esos casos?**_

In [26]:
# variable information
print("NÚMERO DE REGISTROS: ",online_retail.metadata['num_instances'])

NÚMERO DE REGISTROS:  541909

In [27]:
print("VARIABLES:")
online_retail.variables[['name', 'role', 'type']]

VARIABLES:

          name     role         type
0    InvoiceNo       ID  Categorical
1    StockCode       ID  Categorical
2  Description  Feature  Categorical
3     Quantity  Feature      Integer
4  InvoiceDate  Feature         Date
5    UnitPrice  Feature   Continuous
6   CustomerID  Feature  Categorical
7      Country  Feature  Categorical

In [28]:
print("RESUMEN DE LAS CARACTERÍSTICAS NUMÉRICAS: ")
X.describe()

RESUMEN DE LAS CARACTERÍSTICAS NUMÉRICAS:

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [29]:
print("RESUMEN DE LAS CARACTERÍSTICAS CATEGÓRICAS: ")
X.describe(include="object")

RESUMEN DE LAS CARACTERÍSTICAS CATEGÓRICAS:

                               Description       InvoiceDate         Country
count                               540455            541909          541909
unique                                4223             23260              38
top     WHITE HANGING HEART T-LIGHT HOLDER  10/31/2011 14:41  United Kingdom
freq                                  2369              1114          495478

In [30]:
print("REGISTROS CON VALORES NULOS POR CADA COLUMNA")
X.isnull().sum()

REGISTROS CON VALORES NULOS POR CADA COLUMNA

Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [31]:
print("REGISTROS CON VALORES NULOS POR CADA COLUMNA (en %)")
(X.isnull().sum() / len(X)) * 100

REGISTROS CON VALORES NULOS POR CADA COLUMNA (en %)

Description     0.268311
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.926694
Country         0.000000
dtype: float64

**Según las salidas anteriores, se puede ver que aquellas características cuyo valor está dentro de un número finito de opciones son Quantity, Description, InvoiceDate, CustomerID y Country**